@use '../../styles/mixins/flexbox';

.main {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  width: 400px;
  height: 800px;
  background-color: aliceblue;
  border-radius: 20px;
}
